.DS_Store
.AppleDouble
.LSOverride
Icon
application.*

# XCode noise + OS X apps
*.app
DerivedData
build
xcuserdata
*.xcworkspace

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a